.left{
    position: fixed;
    float: left;
}
.item-image{
    float:left;
    margin-right: 10px;
}
.news-item{
    margin-right:10px;
}
.news-theme{
    display: inline-block;
    color: #8c8c8c;
}
.full-review{
    position: absolute;
    left: 160px;
    padding-top: 5px;
}
.tag-item{
    margin-left: 5px;
}
.added{
    margin-left: 52px;
    color: #adadad;
}
.added:hover, .added:visited{
    text-decoration: none;
    color: #adadad;
}
.tag-fullreview-container{
    position: relative;
}
.item-container{
    box-shadow: 340px 0 5px -2px rgba(0,0,0,0.5);
}