.left{
    position: fixed;
    float: left;
}
.item-image{
    float:left;
    margin-right: 10px;
}
.news-item{
    /*margin-right:10px;*/
    padding-top:10px;
}
.news-theme{
    display: inline-block;
    color: #8c8c8c;
}
.news-title{
    margin-top: 5px;
    margin-bottom: 7px;
}
.full-review{
    position: absolute;
    left: 160px;
    padding-top: 5px;
}
.tag-item{
    margin-left: 5px;
}
.added{
    margin-left: 52px;
    color: #adadad;
}
.added:hover, .added:visited{
    text-decoration: none;
    color: #adadad;
}
.tag-fullreview-container{
    position: relative;
}
.item-container{
    box-shadow: 0px 0 5px -2px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    min-height: 165px;
}
.end-of-item{
    margin-bottom: 10px;
}
.categories{
    color: #8c8c8c;
    padding-left: 15px;
    margin-bottom: 5px;
}
.item-image-view{
    float:left;
    margin-right: 10px;
    margin-bottom: 20px;
    max-height: 350px;
}
.end-of-item-view{
    margin-bottom: 10px;
    margin-top: 20px;
}
.added-view{
    color: #adadad;
}
.news-theme-view{
    display: inline-block;
    color: #8c8c8c;
    margin-bottom:10px;
}
.login-form h2, .signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
    background: #ccc;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 300px;
    position: relative;
    /*left: 50%;*/

}
.login-form form span{
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}
#footer{
    background: #F0F0E9;
    height: 50px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 50px;
}
.footer-bottom p {
    padding-top: 15px;
}